html,
body {
  position: relative;
  height: 100%;
}

.swiper {
  width: 80%;
  height: 60%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

:root {
  --swiper-theme-color: #fff;
}

.box {
  padding: 300px;
  margin: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  opacity: 0.5;
}

.home {
  background-repeat: no-repeat;
  background-size: cover;
}

.img-background {
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  text-align: center;
}

.img-background h1 {
  color: #fdff00;
  font-family: 'Noto Sans JP', sans-serif;
}

.img-background .left {
  position: absolute;
  right: 16px;
}

.img-background .middle {
  padding: 300px 0;
}

.with-style {
  font-family: 'Indie Flower', cursive;
}

.fixSize {
  padding: 0.3rem 1rem;
  font-size: 1.25rem;
  border-radius: .3rem;
  margin: 10px;
}

.login-button {
  margin: 10px;
  width: 120%;
}

.fix-header-right {
  margin-right: 400px;
}

.fix-header-right2 {
  margin-right: 30px;
}

.img-padding {
  padding: 10px;
}

.slider img {
  max-width: 100%;
  height: auto;
}

.slider .swiper-wrapper {
  padding: 20px 0;
}

.slider .swiper-slide {
  -webkit-transition: 250mx all;
  transition: 250mx all;
}

.slider .swiper-slide:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  z-index: 1;
}

.slider .swiper-slide:first-child:hover {
  margin: 0 40px;
}

.slider .swiper-slide:last-child:hover {
  margin: 0 -30px;
}

.section--bg {
  background-image: url("images/section.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.testing {
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
}

.sign {
  display: block;
  position: relative;
}

.sign__content {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 40px 0;
}

.sign__form {
  background-color: #1a191f;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  padding: 40px 20px;
  position: relative;
  width: 100%;
  max-width: 400px;
}

.sign__logo {
  display: block;
  margin-bottom: 40px;
}

.sign__logo a {
  max-width: 100%;
  width: auto;
}

.sign__logo img {
  width: 140px;
}

.sign__input {
  background-color: rgba(210, 201, 255, 0.04);
  border: 1px solid transparent;
  height: 46px;
  position: relative;
  color: #fff;
  font-size: 16px;
  line-height: 0.4px;
  width: 100%;
  color: #fff;
  border-radius: 6px;
  padding: 0 20px;
}

.sign__input:focus {
  border-color: #ffd80e;
}

.sign__group {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.sign__group--checkbox {
  width: 100%;
  text-align: left;
}

.sign__group--checkbox input:not(:checked),
.sign__group--checkbox input:checked {
  position: absolute;
  left: -9999px;
}

.sign__group--checkbox input:not(:checked) + label,
.sign__group--checkbox input:checked + label {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
  position: relative;
  cursor: pointer;
  padding-left: 35px;
  line-height: 20px;
  letter-spacing: 0.4px;
  margin: 0;
}

.sign__group--checkbox input:not(:checked) + label a,
.sign__group--checkbox input:checked + label a {
  color: rgba(255, 216, 14, 0.7);
}

.sign__group--checkbox input:not(:checked) + label a:hover,
.sign__group--checkbox input:checked + label a:hover {
  color: #ffd80e;
}

.sign__group--checkbox input:not(:checked) + label:before,
.sign__group--checkbox input:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: rgba(210, 201, 255, 0.04);
  border-radius: 6px;
}

.sign__group--checkbox input:not(:checked) + label:after,
.sign__group--checkbox input:checked + label:after {
  font-family: 'Ionicons';
  content: '\f3ff';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  font-size: 22px;
  line-height: 20px;
  text-align: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #ffd80e;
}

.sign__group--checkbox input:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.sign__group--checkbox input:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.sign__group--checkbox label::-moz-selection {
  background: transparent;
  color: rgba(255, 255, 255, 0.6);
}

.sign__group--checkbox label::selection {
  background: transparent;
  color: rgba(255, 255, 255, 0.6);
}

.sign__btn {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  height: 46px;
  width: 100%;
  border-radius: 6px;
  background-color: transparent;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  letter-spacing: 0.4px;
  border: 1px solid #ffd80e;
  margin-bottom: 15px;
  margin-top: 15px;
}

.sign__btn:hover {
  color: #fff;
}

.sign__text {
  margin-top: 15px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.4px;
}

.sign__text a {
  position: relative;
  color: rgba(255, 216, 14, 0.7);
}

.sign__text a:hover {
  color: #ffd80e;
}

@media (min-width: 576px) {
  .sign__form {
    padding: 50px 60px;
  }
  .sign__logo {
    margin-bottom: 50px;
  }
}
/*# sourceMappingURL=styles.css.map */