<!-- Footer -->
<footer class="bg-dark text-center text-white" >
    <!-- Grid container -->
      <!-- Section: Social media -->
        <!-- Facebook -->
      <!-- Section: Social media -->
  
      <!-- Section: Form -->
  
      <!-- Section: Text -->
      <link rel="stylesheet" href="/css/styles.css">

          <!--Grid column-->
          <div style="background-color: rgba(0, 0, 0, 0.2);">
            
            <ul class="list-unstyled mb-0">
                <li class="d-inline">
                  <h5 class="text-uppercase">Check us at:</h5>
                </li>
                <li class="d-inline">
                  <img class="mr-auto img-padding" src="https://img.icons8.com/color/48/000000/twitter--v2.png"/>
                </li>
              <li class="d-inline">
                <img class="mr-auto img-padding"src="https://img.icons8.com/color/48/000000/facebook-new.png"/>
              </li>
              <li class="d-inline">
                <img class="mr-auto img-padding" src="https://img.icons8.com/fluency/50/000000/instagram-new.png"/>
                  </li>
              <li class="d-inline">
                <img class="mr-auto img-padding" src="https://img.icons8.com/color/48/000000/whatsapp--v1.png"/>
            </li>
            </ul>
          </div>
          <hr style="margin: 0; padding: 0;"> 
          <!--Grid column-->
        <!--Grid row-->
      <!-- Section: Links -->
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">Shahar</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->